@import "_variables.scss";
//General Styling goes here
    button {
        font-size: $h5;
        font-weight: 700;
        text-transform: capitalize;
        padding: $space-xs $space-s;
        border-radius: $radius-l;
    }
    .primary__button {
        background-color: $primary;
        color: $white;
        border: 0px;
    }
    .secondary__button {
        background-color: transparent;
        border: 0px;
        outline: 2.5px solid $black;
        outline-offset: -2.5px;
    }
//At tablet breakpoint do something
@media (max-width: 991px){
    
};

//At phone landscape do something
@media (max-width: 768px){
    
};

//At phone portrait do something
@media (max-width: 480px){
    
};